
@{
    ViewData["Title"] = "xiangqing";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>盘点详情</h1>
<SCRIPT LANGUAGE="JavaScript">
    if (window.print) { document.write('<form>' + '<input type=button name=print value="打印" ' + 'onClick="javascript:window.print()" class="btn btn-dropbox"></form>') }
</SCRIPT>
<table class="table table-bordered" style="width:1300px;">
    <thead>
        <tr>
            <th style="text-align:center;">序号</th>
            <th style="text-align:center;">物品编码</th>
            <th style="text-align:center;">物品品类</th>
            <th style="text-align:center;">物品名称</th>
            <th style="text-align:center;">物品规格</th>
            <th style="text-align:center;">计量单位</th>
            <th style="text-align:center;">库存数量</th>
            <th style="text-align:center;">实盘数量</th>
        </tr>
    </thead>
    <tbody id="xx">
    </tbody>
</table>
<div style="text-align:center;">
    <input id="First" type="button" value="首页" onclick="goFirst()" class="btn btn-outline-primary" />
    <input id="Prev" type="button" value="上一页" onclick="goPrev()" class="btn btn-outline-primary" />
    <input id="Next" type="button" value="下一页" onclick="goNext()" class="btn btn-outline-primary" />
    <input id="Last" type="button" value="尾页" onclick="goLast()" class="btn btn-outline-primary" />
</div>
@*分页*@
<script>
    //页码
    var index = 1;
    //条数
    var size = 5;
    //总条数
    var sizecount = 0;
    //总页数
    var indexcount = 0;
    //首页
    function goFirst() {
        index = 1;
        HouseShow();
    }
    //上一页
    function goPrev() {
        if (index == 1) {
            alert("已经在首页了！");
            return
        }
        index--;
        HouseShow();
    }
    //下一页
    function goNext() {
        if (index == indexcount) {
            alert("已经在尾页了！");
            return
        }
        index++;
        HouseShow();
    }
    //尾页
    function goLast() {
        index = indexcount;
        HouseShow();
    }
</script>
<script>
    $(function () {
        HouseShow()
    })
    function HouseShow() {
        $.ajax({
            url: "http://localhost:52098/api/CPshow",
            type: "get",
            data: { index: index, size: size },
            dataType: "json",
            success: function (d) {
                $("#xx").empty();
                $(d).each(function () {
                    var str = "";
                    str += '<tr>'
                        + '<td style="text-align:center;">' + this.product_Id + '</td>'
                        + '<td style="text-align:center;">' + this.pcoding + '</td>'
                        + '<td style="text-align:center;">' + this.pCategory + '</td>'
                        + '<td style="text-align:center;">' + this.pName + '</td>'
                        + '<td style="text-align:center;">' + this.pspecification + '</td>'
                        + '<td style="text-align:center;">' + this.punit + '</td>'
                        + '<td style="text-align:center;">' + this.pamount + '</td>'
                        + '<td style="text-align:center;"><input id="Text1" type="text" /></td>'
                        + '</tr>';
                    $("#xx").append(str);
                })
                sizecount = count;
                index = Math.ceil(sizecount / size);

            }
        })
    }

</script>
<input id="Button1" type="button" value="保存" onclick="location.href='/ck/ypdshow'" class="btn btn-github" />
