
@{
    ViewData["Title"] = "Audit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.5.6/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div style="margin-top:100px">
    <button type="button" class="layui-btn layui-btn-primary">首页</button>
    <button type="button" class="layui-btn layui-btn-primary">调拨单列表</button>
    <button type="button" class="layui-btn layui-btn-primary">调拨单审核</button>
</div>
<br />
<div style="background-color:#e8e6e6">
    <br />
    <h2 style="text-align:center"> 调拨物品详情</h2>
    <br />
</div>
<div style="background-color:#e8e6e6">


</div>
<table class="layui-hide" id="test" lay-filter="test"></table>
<br />
<br />
<span style="color:red;margin-left:27px" >备注：尽快发货，客户明天中午来取。</span>
<form class="layui-form" action="">
    <br />
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"style="width:110px">审核意见：</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容500字以内" class="layui-textarea"></textarea>
        </div>
    </div>
    <div style="text-align:center">
        <button type="button" class="layui-btn layui-btn-normal">审核通过</button>
        <button type="button" class="layui-btn layui-btn-danger">审核不通过</button>
    </div>
</form>



<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: 'http://localhost:52098/api/GetT_Itemdetails'
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , totalRow: true
            , cols: [[


                { field: 'XID', width: 80, minWidth: 100, title: '序号', sort: true }
                , { field: 'Pcoding', minWidth: 100, title: '物品编码' }
                , { field: 'PName', minWidth: 100, title: '物品名称' }
                , { field: 'Pamount', minWidth: 100, title: '可用库存' }
                , { field: 'city', minWidth: 100, title: '待审核调拨总数' }
                , { field: 'Quantity', minWidth: 100, title: '申请数量' }
                , { field: 'Approvalnumber', minWidth: 100, title: '审批数量' }
                , { field: 'Turnoverbasket', minWidth: 100, title: '已出库数量' }
                , { field: 'Image', minWidth: 100, title: '周转筐' }
                , { field: 'Punit', minWidth: 100, title: '计量单位' }
                , { field: 'Pamount', minWidth: 100, title: '单价' }
                , { field: 'city', minWidth: 100, title: '审批金额', totalRow: true }
            ]]
            , page: true
        });

        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                    break;
            };
        });
    });
</script>


    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {

        })
    </script>
