
@{
    ViewData["Title"] = "Particulars";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.5.6/layui/layui.js"></script>


<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: 'http://localhost:52098/api/GetT_Singlerows'

            , defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols: [[
                , { field: 'XID', title: '序号', width: 80, fixed: 'left', unresize: true, sort: true }
                , { field: 'Requisition', title: '调拨单号', width: 120, edit: 'text' }
                , { field: 'Tuneout', title: '调出仓库', width: 150, edit: 'text' }
                , { field: 'Transferred', title: '调入仓库', width: 80, edit: 'text' }
                , { field: 'Allocationdate', title: '调拨日期', width: 100, edit: 'text' }
                , { field: 'Allotpeople', title: '调拨人', width: 100, edit: 'text' }
                , { field: 'Auditstate', title: '审核状态', width: 80, edit: 'text' }
                , { field: 'Allotcondition', title: '调拨状态', width: 120, edit: 'text' }
                , { field: 'Framnumber', title: '装箱数量', width: 100, edit: 'text' }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
            ]]
            , page: true
        });



        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
