
@{
    ViewData["Title"] = "Replenishment";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.5.6/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<form class="layui-form" action="">
    <br />
    <div style="background-color:#eae5e5">
        <br />
        <div class="layui-form-item"style="margin-left:40px">
            <label class="layui-form-label" style="width:130px">门店：</label>
            <div class="layui-input-inline">
                <select name="door">
                    <option >全部</option>
                    <option ></option>
                    <option ></option>
                    <option ></option> 
                </select>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:170px">商品编码：</label>
                <div class="layui-input-inline">
                    <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input" placeholder="请输入">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:130px">商品名称：</label>
                <div class="layui-input-inline">
                    <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input" placeholder="请输入">
                </div>
            </div>

        </div>
        <div class="layui-inline" style="margin-top:4px">
            <label class="layui-form-label" style="width:170px">需要提交的日期：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="datetime" placeholder=" - " style="width:260px">
            </div>
        </div>

        <div class="layui-input-inline " style="margin-left:40px">
            <button class="layui-btn" id="searchEmailCompany" data-type="reload">
                <i class="layui-icon" style="font-size: 20px; ">&#xe615;</i> 搜索
            </button>
        </div>
    </div>
</form>
   
<table class="layui-hide" id="test"></table>
<script type="text/html" id="barDemo">
    <a href="#" style="color:#0094ff" lay-event="edit">详情</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: 'http://localhost:52098/api/GetT_Replenishments'
            , cols: [[
                { field: 'IXD', width: 100, title: '序号' }
                , { field: 'Replenishodd', minWidth: 150, title: '补货单号' }
                , { field: 'ReplenishDate', minWidth: 150, title: '补货日期' }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 } 
            ]]
            , page: true
        });

        var $ = layui.$, active = {
            reload: function () {
                var WarehouseName = $('.WarehouseName');
                var Rsesrvoirare = $('#Rsesrvoirare');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        WarehouseName: WarehouseName.val(),
                        Rsesrvoirare: Rsesrvoirare.val()
                    }
                });
            }
        };

        //绑定click点击事件 通用按钮
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#datetime'
            , range: true
        });
    })
</script>
