
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/jquery-3.4.1.min.js"></script>
<table class="layui-table">
    <tr>
        <td>报修仓库</td>
        <td>
            <select id="Select1">
                <option value="">请选择</option>
                <option value="成都总仓">成都总仓</option>
                <option value="北京总仓">北京总仓</option>
                <option value="上海总仓">上海总仓</option>
                <option value="河南总仓">河南总仓</option>
                <option value="河北总仓">河北总仓</option>
                <option value="山西总仓">山西总仓</option>
                <option value="山东总仓">山东总仓</option>
                <option value="广州总仓">广州总仓</option>
                <option value="浙江总仓">浙江总仓</option>
                <option value="江苏总仓">江苏总仓</option>
                <option value="贵阳总仓">贵阳总仓</option>
                <option value="黑龙江总仓">黑龙江总仓</option>

                <option value="商丘总仓">商丘总仓</option>
                <option value="洛阳总仓">洛阳总仓</option>
                <option value="郑州总仓">郑州总仓</option>
                <option value="濮阳总仓">濮阳总仓</option>
                <option value="信仰总仓">信仰总仓</option>
                <option value="聊城总仓">聊城总仓</option>
                <option value="杭州总仓">杭州总仓</option>
                <option value="深圳总仓">深圳总仓</option>
                <option value="苏州总仓">苏州总仓</option>
                <option value="无锡总仓">无锡总仓</option>
                <option value="天津总仓">天津总仓</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>温泉</td>
        <td>
            <select id="Select1">
                <option value="">请选择</option>
                <option value="常温区">常温区</option>
                <option value="干杂区">干杂区</option>
                <option value="冷冻区">冷冻区</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>物料类型</td>
        <td>
            <input type="radio" id="WarehouseEntities" value="true" checked="">产品
            <input type="radio" id="WarehouseEntities" value="false">商品
        </td>
    </tr>
    <tr>
        <td>物料编码</td>
        <td><input type="text" id="Arrangr" /></td>
    </tr>
    <tr>
        <td>物料名称</td>
        <td>
            <input type="text" id="Arrangr" />
        </td>
    </tr>
    <tr>
        <td>批次号</td>
        <td><input type="text" id="DetailedAddress" /></td>
    </tr>
    <tr>
        <td>规格型号</td>
        <td>
            <input type="text" id="DetailedAddress" />
        </td>
    </tr>
    <tr>
        <td>可用量</td>
        <td>
            <input type="text" id="DetailedAddress" />
        </td>
    </tr>
    <tr>
        <td>报修数量</td>
        <td>
            <input type="text" id="DetailedAddress" />
        </td>
    </tr>
    <tr>
        <td>报修原因</td>
        <td>
            <input type="text" id="DetailedAddress" />
        </td>
    </tr>
    <tr>
        <td colspan="2"><input type="button" value="添加" onclick="location.href='/FrmLossController1/Show'" id="Addc" /></td>
    </tr>
</table>
<script>
    var Gid = document.getElementById;
    var showArea = function () {
        var province = Gid('s_province').value;
        var city = Gid('s_city').value;
        var county = Gid('s_county').value;
        if (province == city) {
            city = "";
        }
        Gid("txtAddress").value = province + city + county;
    }
    function Add() {
        var Warehouse = {
            "SuperiorWarehouse": $("#SuperiorWarehouse").val(),
            "WarehouseName": $("#WarehouseName").val(),
            "WarehouseCode": $("#WarehouseCode").val(),
            "Arrangr": $("#Arrangr").val,
            "WarehuoseAddress": $("#s_province").val() + $("#s_city").val() + $("#s_county").val(),
            "DetailedAddress": $("#DetailedAddress").val(),
            "WarehouseEntities": $("#WarehouseEntities").val(),
            "State": $("#State").val()
        };
        $.ajax({
            url: 'http://localhost:52098/api/Add',
            data: JSON.stringify(Warehouse),
            type: 'get',
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                if (data > 0) {
                    alert("添加成功");

                }
                else {
                    alert("添加失败");
                }
            }
        })
    }
</script>


